    
    header{
        display: flex;
        justify-content: space-between;
       
       
    }
   
    
    menu{
        background-image: url('images/slider-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
       
        height: 800px;
    }
    
    #dropdownMenuButton1{
        border: none;
        background-color: aquamarine;
        padding: 10px;
        font-weight: 10px;
        border-radius: 10px;
    }
    .design{
        width: 60%;
       margin-top: 230px;
       margin-left: 50px;
    }
    .design h1{
        font-size: 70px;
        font-weight: bold;
    }
    button{
        border: none;
        background-color: coral;
       padding: 20px;
     width: 250px;
     color: white; 
     transition: 2s;  
    }
    button:hover{
        background-color:darkturquoise  ;
        width: 250px;
        transition: 2s;
    }
    
    .sectionid1{
        background-image: url('images/home-background-image-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
       
        margin-top: 100px;
    }
    .section1{
        text-align: center;
        margin-top: 200px;
    }
    #font{
        font-size: 70px;
        font-weight: bold;
    }
    
    
      .sectionid2{
        background-image: url('images/home-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
      }  
    
    #section2{
        margin-top: 90px;
        margin-left: 50px;
    }
    
    
    #list ul{
        list-style: none;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
        margin-top: 40px;
       
    }
    #list ul li{
        /* padding-right: 50px; */
        padding: 20px;
      
      transition: 2s;
    
    }
    #list ul li:hover{
        background-color: aquamarine;
        border-radius: 20px;
        transition: 2s;
       
      
    }
    
    .sectionid3{
        background-image: url('images/cus1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
    }
    
    .sectionid4{
        background-color: coral;
        height: 300px;
    }
    footer{
        background-color: black;
        height: 370px;
    }
    
    
    #information{
        margin-top: 60px;
    }
    #information  a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin: 5px;
    
    
    }
    #information ul li{
        list-style: none;
        margin-top: 15px;
    }
    #contact{
        margin-top: 60px;
    }
    #contact a{
        text-decoration: none;
    font-weight: 500;
    color: white;
    margin: 5px;
    }
    #contact ul li {
        list-style: none;
        margin-top: 15px;
    }
    #contact ul p i{
      margin-left: 20px;
      margin-top: 20px;
    }
    
    #service{
        margin-top: 60px;
    }
    
    #service a{
        text-decoration: none;
    font-weight: 500;
    color: white;
    margin: 5px;
    }
    
    #service ul li{
        list-style: none;
        margin-top: 15px;
    }
    
    #submit{
        border: none;
        background-color: darkseagreen;
        padding: 10px;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        transition: 2s;
    }
    #submit:hover{
        background-color: aqua;
        transition: 2s;
    }
    #input{
        outline: none;
    }
    #newsLetter{
        margin-top: 60px;
    }
    #pera{
        margin-top: 30px;
    }
    #top{
        margin-top: 130px;
    }
    

    @media only screen and (min-width:200px) and (max-width: 600px) {
        menu{
           
            height: 300px;
            margin-top: 20px;
            overflow-y: hidden;
            overflow-x: hidden;
           
        }
        .design h1{
            font-size: 10px;
            font-weight: bold;
            overflow-y: hidden;
            overflow-x: hidden;
           
        }
        .design{
            width: 80%;
           margin-top: -25px;
           margin-left: -30px;
           overflow-y: hidden;
            overflow-x: hidden;
        
           
        }
        .sectionid1{
         
            height: 500px;
           
            margin-top: 100px;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .section1{
            text-align: center;
            margin-top: 10px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #font{
            font-size: 30px;
            font-weight: bold;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        .sectionid2{
           
            height: auto;
            overflow-y: hidden;
            overflow-x: hidden;
          }  

        .sectionid2{
            height: auto;
            overflow-y: hidden;
            overflow-x: hidden;
          }  
        
        #section2{
            margin-top: 0px;
            margin-left: 0px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        .sectionid3{
           
            height: 400px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
       
        #h1{
            font-size: 20px;
            margin-top: 0;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #pera{
            margin-top: 5px;
            font-size: 5px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #top{
            margin-top: 4px;
            overflow-y: hidden;
            overflow-x: hidden;
            
        }

        footer{
           
            height: auto;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #information{
            width: 50%;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #contact{
            width: 50%;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #service{
            width: 50%;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #newsLetter{
            width: 50%;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        .sectionid4{
            
            height: auto;
            overflow-y: hidden;
            overflow-x: hidden;
        }
       
        #part5{
            margin-top: 80px;
            overflow-y: hidden;
            overflow-x: hidden;
           
        }



    }